In [1]:
import pandas as pd
import os, glob, re

# Naming conventions

In [18]:
all_jpgs= glob.glob('/cs/student/projects4/ml/2023/asrivast/datasets/dress3_16/input/*.JPG')
print(f"total images: {len(all_jpgs)}")

total images: 139

In [17]:
# read exif data of a jpg
from PIL import Image, ExifTags

img = Image.open(all_jpgs[0])
img_exif = img.getexif()
print(type(img_exif), img_exif)
# <class 'PIL.Image.Exif'>

if img_exif is None:
    print('Sorry, image has no exif data.')
else:
    for key, val in img_exif.items():
        if key in ExifTags.TAGS:
            print(f'{key:<6} 0x{hex(key)[2:].zfill(4):<8} {ExifTags.TAGS[key]}:{val}')
        else:
            print(f'{key}:{val}')

<class 'PIL.Image.Exif'> {296: 2, 282: 72.0, 34853: 14829, 34665: 360, 271: 'Canon', 272: 'Canon EOS RP', 315: '', 274: 6, 306: '2024:07:04 12:47:26', 531: 2, 33432: '', 283: 72.0}
34853  0x8825     GPSInfo:14829
296    0x0128     ResolutionUnit:2
34665  0x8769     ExifOffset:360
271    0x010f     Make:Canon
272    0x0110     Model:Canon EOS RP
283    0x011b     YResolution:72.0
274    0x0112     Orientation:6
306    0x0132     DateTime:2024:07:04 12:47:26
531    0x0213     YCbCrPositioning:2
33432  0x8298     Copyright:
282    0x011a     XResolution:72.0
315    0x013b     Artist:

In [7]:
print(img_exif[274])

6

In [33]:

# make a dataframe with 3 columns
camera_names_df= pd.DataFrame(columns=['tower', 'aim', 'name'])


for jpg in all_jpgs:
    camera_name= re.split('[-_]', os.path.basename(jpg))[2]
    # print(camera_name)
    # add fist character of camera name to first column, second character to second column and third character to third column
    camera_names_df.loc[len(camera_names_df)]= list(camera_name)
    # break

# change i to I
camera_names_df['tower']= camera_names_df['tower'].str.upper()

In [35]:
camera_names_df.to_csv('camera_names.csv', index=False)

In [36]:
camera_names_df[((camera_names_df["tower"]=="A") & (camera_names_df["aim"]=="B"))]

  tower aim name
0     A   B    1
1     A   B    2
2     A   B    3
3     A   B    4
4     A   B    5
5     A   B    6
6     A   B    7
7     A   B    M

In [38]:
# group by fisrt column and then second column

group_df= pd.pivot_table(camera_names_df, index=['tower', 'aim'], aggfunc='count')
display(group_df)

           name
tower aim
A     B       8
      H       5
      T       2
B     B       8
      H       7
C     B       6
      F       2
      H       3
D     B       8
      H       7
E     B       7
      F       2
      H       3
F     B       8
      H       7
G     B       6
      F       2
      H       4
H     B       4
      H       4
I     B       7
      H       6
J     B       4
      H       3
K     B       8
      F       2
      H       6