In [3]:
import pandas as pd
import os, glob, re
import PIL.ExifTags as ExifTags
import PIL.Image as Image

# Naming conventions

In [4]:
all_jpgs= glob.glob('C:/Users/student1/Desktop/Datasets/dress3_16_small/input/*.JPG')
print(f"total images: {len(all_jpgs)}")

total images: 139

In [ ]:
def get_exif(image_path):
    image = Image.open(image_path)
    exif_data = image._getexif()
    if not exif_data:
        return {}

    exif = {}
    for tag, value in exif_data.items():
        decoded = ExifTags.TAGS.get(tag, tag)
        exif[decoded] = value
    return exif

def get_exif_gps(exif_info: dict):
    gps_info = {}

    for key in exif_info['GPSInfo'].keys():
        decode = ExifTags.GPSTAGS.get(key,key)
        gps_info[decode] = exif_info['GPSInfo'][key]#int.from_bytes(exif_info['GPSInfo'][key], byteorder='big')
    return gps_info


exif_info = get_exif(all_jpgs[0])
if exif_info == {}:
    print("No EXIF data found for image")
    exit()
    
for tag, value in exif_info.items():

    if tag == 'GPSInfo':
        print("GPSInfo")
        gps_info = get_exif_gps(exif_info)
        for tag, value in gps_info.items():
            print(f"{' ' * 5}{tag}: {value}")

    else:
        print(f"{tag}: {value}")

No EXIF data found for image

:

In [20]:

# make a dataframe with 3 columns
camera_names_df= pd.DataFrame(columns=['tower', 'aim', 'name', 'focal_length', 'Width', 'Height', 'Camera_model'])


for i, jpg in enumerate(all_jpgs):
    camera_name= re.split('[-_]', os.path.basename(jpg))[2]
    exif_info = get_exif(jpg)
    
    # Create a dictionary with the new data
    try:
        camera_names_df.loc[len(camera_names_df)] = {
            'tower': camera_name[0],
            'aim': camera_name[1],
            'name': camera_name[2],
            'focal_length': exif_info['FocalLength'],
            'Width': exif_info['ExifImageWidth'],
            'Height': exif_info['ExifImageHeight'],
            'Camera_model': exif_info['LensModel']
        }
    except KeyError:
        print(f"KeyError: {i}, {jpg}")
        
    # if camera_name == 'KF1':
    #     print(i, exif_info['LensModel'])
    
# change i to I
camera_names_df['tower']= camera_names_df['tower'].str.upper()

KeyError: 0, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-AB1_dress3_16.JPG
KeyError: 1, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-AB2_dress3_16.JPG
KeyError: 2, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-AB3_dress3_16.JPG
KeyError: 3, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-AB4_dress3_16.JPG
KeyError: 4, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-AB5_dress3_16.JPG
KeyError: 5, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-AB6_dress3_16.JPG
KeyError: 6, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-AB7_dress3_16.JPG
KeyError: 15, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB1_dress3_16.JPG
KeyError: 16, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB3_dress3_16.JPG
KeyError: 17, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB4_dress3_16.JPG
KeyError: 18, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB5_dress3_16.JPG
KeyError: 19, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB6_dress3_16.JPG
KeyError: 20, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB7_dress3_16.JPG
KeyError: 21, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB8_dress3_16.JPG
KeyError: 22, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BB9_dress3_16.JPG
KeyError: 26, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-BH5_dress3_16.JPG
KeyError: 29, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CB1_dress3_16.JPG
KeyError: 30, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CB2_dress3_16.JPG
KeyError: 31, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CB3_dress3_16.JPG
KeyError: 32, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CB4_dress3_16.JPG
KeyError: 33, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CB5_dress3_16.JPG
KeyError: 34, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CB6_dress3_16.JPG
KeyError: 35, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CF1_dress3_16.JPG
KeyError: 36, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-CF2_dress3_16.JPG
KeyError: 40, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB1_dress3_16.JPG
KeyError: 41, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB2_dress3_16.JPG
KeyError: 42, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB3_dress3_16.JPG
KeyError: 43, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB4_dress3_16.JPG
KeyError: 44, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB5_dress3_16.JPG
KeyError: 45, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB7_dress3_16.JPG
KeyError: 46, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB8_dress3_16.JPG
KeyError: 47, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-DB9_dress3_16.JPG
KeyError: 54, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EB1_dress3_16.JPG
KeyError: 55, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EB2_dress3_16.JPG
KeyError: 56, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EB3_dress3_16.JPG
KeyError: 57, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EB4_dress3_16.JPG
KeyError: 58, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EB5_dress3_16.JPG
KeyError: 59, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EB6_dress3_16.JPG
KeyError: 60, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EB7_dress3_16.JPG
KeyError: 61, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EF1_dress3_16.JPG
KeyError: 62, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-EF2_dress3_16.JPG
KeyError: 66, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB1_dress3_16.JPG
KeyError: 67, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB2_dress3_16.JPG
KeyError: 68, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB3_dress3_16.JPG
KeyError: 69, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB4_dress3_16.JPG
KeyError: 70, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB5_dress3_16.JPG
KeyError: 71, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB7_dress3_16.JPG
KeyError: 72, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB8_dress3_16.JPG
KeyError: 73, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-FB9_dress3_16.JPG
KeyError: 80, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GB1_dress3_16.JPG
KeyError: 81, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GB2_dress3_16.JPG
KeyError: 82, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GB3_dress3_16.JPG
KeyError: 83, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GB4_dress3_16.JPG
KeyError: 84, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GB5_dress3_16.JPG
KeyError: 85, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GB6_dress3_16.JPG
KeyError: 87, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GF2_dress3_16.JPG
KeyError: 88, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GH1_dress3_16.JPG
KeyError: 91, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-GH4_dress3_16.JPG
KeyError: 92, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-HB2_dress3_16.JPG
KeyError: 93, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-HB4_dress3_16.JPG
KeyError: 94, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-HH1_dress3_16.JPG
KeyError: 97, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iB1_dress3_16.JPG
KeyError: 98, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iB2_dress3_16.JPG
KeyError: 99, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iB4_dress3_16.JPG
KeyError: 100, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iB5_dress3_16.JPG
KeyError: 101, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iB6_dress3_16.JPG
KeyError: 102, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iB7_dress3_16.JPG
KeyError: 103, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iB8_dress3_16.JPG
KeyError: 107, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-iH5_dress3_16.JPG
KeyError: 110, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-JB1_dress3_16.JPG
KeyError: 111, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-JB2_dress3_16.JPG
KeyError: 112, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-JB3_dress3_16.JPG
KeyError: 113, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-JB4_dress3_16.JPG
KeyError: 117, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB1_dress3_16.JPG
KeyError: 118, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB2_dress3_16.JPG
KeyError: 119, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB3_dress3_16.JPG
KeyError: 120, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB4_dress3_16.JPG
KeyError: 121, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB5_dress3_16.JPG
KeyError: 122, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB6_dress3_16.JPG
KeyError: 123, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB7_dress3_16.JPG
KeyError: 124, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_PL-KB8_dress3_16.JPG
KeyError: 136, C:/Users/student1/Desktop/Datasets/dress3_16_small/input\marie_SP-HB3_dress3_16.JPG

In [10]:
camera_names_df.to_csv('camera_names.csv', index=False)

In [11]:
# group by  width and height then focal length

group_df= pd.pivot_table(camera_names_df, index=['Width', 'Height', 'focal_length', 'tower', 'aim'], aggfunc='count')
display(group_df)

                                     Camera_model  name
Width Height focal_length tower aim
4272  2848   27.0         K     F               1     1
5184  3456   50.0         H     B               1     1
6240  4160   35.0         A     B               1     1
                          E     B               1     1
                          H     B               1     1
                          K     B               1     1
             50.0         A     B               6     6
                          B     B               8     8
                          C     B               6     6
                          D     B               8     8
                          E     B               6     6
                          F     B               8     8
                          G     B               6     6
                          H     B               2     2
                          I     B               7     7
                          J     B               4     4
                          K     B               7     7
             85.0         C     F               2     2
                          E     F               2     2
                          G     F               2     2
                          K     F               1     1

In [34]:
camera_names_df[((camera_names_df["tower"]=="A") & (camera_names_df["aim"]=="B"))]

  tower aim name focal_length
0     A   B    1         50.0
1     A   B    2         50.0
2     A   B    3         50.0
3     A   B    4         50.0
4     A   B    5         50.0
5     A   B    6         35.0
6     A   B    7         50.0
7     A   B    M         50.0